/* General */
*, *::before, *::after {
    box-sizing: border-box;
    text-align: center;
}

/* Containers */
header, nav {
    background-color: lightgray;
    padding: 0.3rem 1rem;
    border: 1px solid black;
    margin: 0.5rem 4rem;
}

nav {
    display: flex;
    justify-content: space-around;
}

.container {
    margin: 1rem 2rem 0 2rem;
    
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

/* Nested Items */
.container main  *, .container aside * {
    width: 100%;
}

.container main, aside {
    display: flex;
    flex-direction: column;
}

main {
    width: 72%;
    justify-content: space-between;
}

.container aside {
    width: 25%;
}

.container article {
    margin: 0 0 1rem 0;
}

.container main footer {
    background-color: lightgray;
    border: 1px solid black;
    
    margin: 0 0 2rem 0;
    
    /* position: absolute;
    bottom: 0; */
}

/* Text */
h3 {
    background-color: lightgray;
    padding: 1rem;
    margin: 0.5rem 0 0 0;
}

p {
    background-color: lightgray;
    text-align: justify;
    
    margin: 1rem 0 0 0;
    padding: 1rem 2rem;
}

a {
    color: black;
    text-decoration: none;

    padding: 0 0.5rem;
}

article > h3, h4, p {
    border: 1px solid black;
}

article h4 {
    background-color: lightgray;
    
    padding: 0.5rem;
    margin: 0.3rem 0 1rem 0;
}

/* 
    Media Queries

    - Remove side margins
    - Wrap aside below main
        - Adjust widths to 100%
    - Set footer to position absolute
    - Increase bottom margin to make room for footer
    - Change p text-alignment to remove gaps in text
*/

@media (max-width: 420px) {
    header, nav, .container, main, aside, footer {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .container {
        justify-content: center;
    }

    .container aside {
        margin-bottom: 4rem;
        width: 50%;
    }

    p {
        text-align: left;
    }

    .container main footer {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: .25rem 0;
    }

    body {
        position: relative;
    }
}